<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated farmingmodeling -->
      <package
            uri="http://activity/1.0"
            class="activity.ActivityPackage"
            genModel="model/farmingmodeling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated farmingmodeling -->
      <package
            uri="http://exploitation/1.0"
            class="exploitation.ExploitationPackage"
            genModel="model/farmingmodeling.genmodel"/>
   </extension>

</plugin>
